#listaCompletati {
  background: rgb(213, 57, 57);
  background: linear-gradient(0deg, rgba(213, 57, 57,0.8830882694874825) 66%, rgba(220, 36, 36,1) 100%);
  box-shadow: 2px 3px 3px 1px rgba(49, 15, 15, 0.812);
  border-radius: 10px;
}
